build/*
!build/*.go
!build/Makefile
java/descriptors/descriptors.go
java/signatures/signatures.go
editor/archive_data.go
clang/parser/parser.go
net/csharp/csharp.go
util/expand_path/expand_path.go
util/expression/expression.go
util/scopes/scopes.go
*.pyc
