language: go

go: 1.1

install:
  - go get -d github.com/limetext/log4go
  - go get -d github.com/quarnster/parser
  - go get -d github.com/quarnster/util
  - go get -d gopkg.in/fsnotify.v1
  - go get -d github.com/robmerrell/comandante
  - cd build

script:
  - make
  - make test
